# Criado em 30.04.2020

*.log
*.sql
*.sqlite
node_modules/

plugins/woocommerce/
plugins/woo-billing-with-invoicexpress-pro/
plugins/elementor/
plugins/advanced-custom-fields/
languages/
uploads/
themes/
cache/
ai1wm-backups/